<launch>
    <node pkg="comp_strategy" type="strategy" name="comp2018_core" output="screen">

        <param name="REFRESH_RATE"          value="1020"/>

        <param name="HEIGHT_MAX"            value="3.0"/>
        <param name="SPD_Z_MAX"             value="0.8"/>
        <param name="TOLLERANCE_Z"          value="0.1"/>
        <param name="SPD_Z_SMALL"           value="0.2"/>
        <param name="SAFE_RANGE_Z"          value="0.5"/>

        <param name="SPD_XY_MAX"				value="1"/>
        <param name="TOLLERANCE_XY"             value="0.15"/>
        <param name="SPD_XY_SMALL"              value="0.2"/>
        <param name="SAFE_RANGE_XY"             value="0.8"/>

        <param name="CRUISE_HEIGHT"                 value="1.0"/>

        <param name="QR_OFFSET23"                   value="0.0"/>
        <param name="QR_GLOBOL_OFFSET_X"            value="0.0"/>
        <param name="QR_GLOBOL_OFFSET_Y"            value="0.0"/>
        <param name="X_RESTRICT_LEFT"               value="-6.5"/>
        <param name="X_RESTRICT_RIGHT"              value="6.5"/>
        <param name="DETECT_OFFSET"                 value="1.0"/>

        <param name="CIRCLE_SEARCH_OFFSET_Y"           value="0.75"/>
        <param name="CIRCLE_PASS_DIST"                 value="1.0"/>
        <param name="LOW_CIRCLE_BOARD_HEIGHT"          value="0.365"/>
        <param name="HIGH_CIRCLE_BOARD_HEIGHT"         value="0.765"/>
        <param name="FIRST_RANGE_BOARD_AIM"            value="0.4"/>
        <param name="CIRCLE_BOARD_AIM_TOLLERANCE"      value="0.1"/>
        <param name="AIM_BOARD_P"                      value="0.6"/>
        <param name="AIM_BOARD_SATISFIED_COUNT"        value="5"/>
        <param name="CIRCLE_CLIMB_SLEEP_TIME"          value="0.75"/>

        <param name="BOARD_AIM_HEIGHT"         value="1.0"/>
        <param name="BOARD_AIM_TOLLERANCE"     value="0.3"/>

        <param name="QR_SEARCH_OFFSET"                  value="1.0"/>
        <param name="QR_TOLLANCE"                       value="0.3"/>
        <param name="QR_CRUISE_HEIGHT"                  value="1.15"/>

        <param name="DYNAMIC_DETECT_ENABLE"                 value="false"/>
        <param name="DYNAMIC_DETECT_TOLLERANCE"             value="0.5"/>
        <param name="MATCH_DETECT_TOLLERANCE"               value="1.0"/>
    </node>
</launch>